


<div class="container">
    <div class="row">
        <div class="col-3">

          <img
        src="../../assets/img/user.png"
        alt="still loading"
        id="img"
      />
           
            <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">

            <input type="text" class="form-control" placeholder="Enter Your Name" name="user" id="input-user" ngModel>

            <input type="text" class="form-control" placeholder="Enter Your Message" name="message" id="input-message" ngModel>

            <button type="submit" class="btn btn-light btn-rounded" id="sendbtn">Send</button>

        </form>
        </div>
  <div class="col-9">
    <h1 style="text-align: center; color: blue;"> Welcome to Chat Service</h1><hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
            <strong>{{chatMessage.user}}: </strong>
            <span>{{chatMessage.message}}</span>
        </li>
    </ul>
   
  
    
   
      
  </div>
  
  


