<nav class="navbar navbar-expand-lg">


    <div class="container-fluid">
        <a href="/">
            <ul class="nav">
                <li class="nav-item ml-5"><img src="https://i.ibb.co/HT8KZRP/logo6.png" alt="logo" width="50px"></li>
                <li class="nav-item ml-4">
                    <div class="logotext">WalletBooster</div>
                </li>
            </ul>
        </a>


        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link " href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showblogs">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register-user">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>

        </ul>
    </div>
</nav>