<nav class="navbar navbar-expand-lg" style="background-color: #1E90FF; ">
    <div class="container-fluid">
        <h1>WalletBooster</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-6 mb-lg-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color:white ;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white ;">Tax Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommendation" routerlink="recommendation" style="color:white ;"> Recommendations </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" style="color: white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white ;">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register-user" style="color:white ;">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color:white ;">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profsection" style="color:white ;"[class.disabled]="">My Profile</a>
                </li>
                <!--<a class="btn btn-link" href="/register-user">Register</a>-->
                <!--<a class="btn btn-link" href="/login" role="button">Sign In</a>-->


            </ul>
        </div>
    </div>
</nav>