<nav class="navbar navbar-expand-lg" style="background-color: #1E90FF; ">
  <div class="container-fluid">
    <h1>WalletBooster</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-6 mb-lg-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tax Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <a class="btn btn-link" routerLink="register-user" role="button">Register</a>
        <a class="btn btn-link" href="#" role="button">Sign In</a>

      </ul>
    </div>
  </div>
</nav>

