.container{ 
    
    width: auto;
    background-color: rgb(239, 241, 247);
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    width: 600px;
    border-radius: 50px;
    background-color:#1E90FF;
}
.col-3{
    background-color:#397ef6; 
    height: 300px;
    border-radius: 60px;
 }
#row1{
    color: black;
background-color: #1E90FF;
height:100px ;
width: auto;
text-align: center;
font-size: xx-large;
border-top-left-radius:30px ;
border-top-right-radius: 30px;
padding-top: 25px;
font-weight: bold;

}
#button1{
    padding-top: 85px;
    padding-left: 40px;
    
}
#button2{
    padding-top: 85px;
    padding-left: 40px; 
}

#text{
    color:#1E90FF;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
#col1{
    background-color:  beige;
    height: 200px;
    border-radius: 30px;
    
}
#col2{
    background-color: beige;
    height: 200px;
    border-radius: 30px;
}