<div class="container">
    <div class="row-3" id="row1">Manage your profile</div>
    <div class="row" id="row2" >
        <div class="col-6" id="col1">
            <div style="text-align:left; " id="button1"><button type="submit" class="btn btn-light "  > <a href="getprofile" id="text"> Get your profile</a> </button></div>
        </div>
        <div class="col-6" id="col2">
            <div style="text-align:left; " id="button2"><button type="submit" class="btn btn-light "  ><a href="profile-user" id="text">Edit Your Profile</a>  </button></div>
        </div>
       <!-- <a href="login" style="text-decoration: none;">Login</a>-->
    </div>

</div>




