<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>
        
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-whatsapp"></i></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-youtube"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-linkedin"></i
        ></a>
  
        
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <h1>WalletBooster</h1>
        <p>
          DESGINED BY EXPERTS
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
  
            <ul class="list-unstyled mb-0">
              <li>
                <i class="bi bi-hourglass-split"></i>&nbsp;
                <a href="#!" class="text-white">Our Story</a>
              </li>
              <li>
                <i class="bi bi-pip-fill"></i>&nbsp;
                <a href="#!" class="text-white">Vision</a>
              </li>
              <li>
                <i class="bi bi-person-workspace"></i>&nbsp;
                <a href="#!" class="text-white">Work with us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase fw-bold mb-4">Guidelines</h6>
  
            <ul class="list-unstyled mb-0">
              <li>
                <i class="bi bi-terminal"></i>&nbsp; 
                   <a href="#!" class="text-white">Terms and Conditions</a>
              </li>
              <li>
                <i class="bi bi-file-lock-fill"></i>&nbsp;
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
              <li>
                <i class="bi bi-cash-coin"></i>&nbsp;
                <a href="#!" class="text-white">Refund and Cancel Policy</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> BANGLORE </p>
            <button type="button" class="btn btn-outline-light"><a href="chatservice" > Chat</a>
              
            </button>
            <p>
              <i class="fas fa-envelope me-3"></i>
              WalletBooster@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 91 234 567 89</p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">WalletBooster.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->