<section class="about container">
    <h1 class=" follow text-center "><a href="#">About Us</a></h1>
    <p>
        The Income Tax Act 1961 lays down the frame work or the basis of charge and the computation of total income of a person. It also stipulates the manner in which it is to be brought to tax, defining in detail the exemptions, deductions, rebates and reliefs. The Act defines Income Tax Authorities, their jurisdiction and powers It also lays down the manner of enforcement of the Act by such authorities through an integrated process of assessments, collection and recovery, appeals and revisions, penalties and prosecutions. The Act is fast changing and dynamic in nature and undergoes amendments annually through the Finance Act.
    </p>
    <p>
        Other direct taxes are also governed through similar arrangements. Various offices of the Income Tax department maintain technical and administrative records as specified from time to time by the CBDT. Circulars are issued from time to time by the CBDT for effective management of assessment and collection of direct taxes.
    </p>
    <p>
        WalletBooster, India's most valuable crypto investment app, is dedicated to make crypto accessible in a simple way. Established in 2022, WalletBooster has solved numerous problems faced by the Indian crypto community with solutions around crypto investing, crypto trading & crypto literacy.
    </p>
  <div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
        <div class="hd">Why People Believe in Us</div>
        <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
        <div class="row" style="justify-content: center">
            <div class="card col-md-3 col-12">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                        <div class="shadow"></div>
                        <div class="card-title"> We're Free </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-12 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                        <div class="card-title"> We're Unbiased </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-12 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                        <div class="card-title"> We Guide you </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft">
            <p class="chk"><small class="text-muted">Still not sure?</small></p>
            <div class="btn btn-primary">Read All </div>
        </div>
    </div>


    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>