<!-- Hero Section -->

<div class="container col-xxl-8 p-2">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/img/bannerimg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Save & Invest your money with a single platform </h1>
      <p class="lead">Best tax saving options as per your needs.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
      </div>
    </div>
  </div>
</div>

<!-- Main  Features -->

<section class="fdb-block py-4">
  <div class="container mb-1">
    <div class="row text-center">
      <div class="col-12 col-md-8 m-auto col-lg-4">
        <div class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="https://cdn-icons-png.flaticon.com/512/2168/2168666.png">
          <h2>Maximum tax saving</h2>
          <p>Business save upto 2-7% of their net GST with us every month.</p>
        </div>
      </div>

      <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
        <div class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="https://cdn-icons-png.flaticon.com/512/3176/3176284.png">
          <h2>Tax Calculator</h2>
          <p>Calculate your tax within seconds by entering your details</p>
        </div>
      </div>

      <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
        <div class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="https://cdn-icons-png.flaticon.com/512/1388/1388878.png">
          <h2>Request call Back</h2>
          <p>Schedule a call from our executive for
            any query</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Investing -->

<div class="text-center m-2 p-2">

  <h2>Start Investing Now</h2>
</div>

<div class="container">
  <div class="d-flex justify-content-center row mx-3">
    <div class="col-md">
      <div id="carousel-1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="border rounded">
              <div class="row no-gutters">
                <div class="col-5"><img src="../../assets/img/investment.jpg" width="100%"></div>
                <div class="col-7 p-4 my-4">
                  <div class="bg-white p-2 ">
                    <p class="text-justify p-2"> Investing is a way to set aside money while you are busy with life and
                      have that money work for you so that you can fully reap the rewards of your labor in the future.
                      Legendary investor Warren Buffett defines investing as “the process of laying out money now in the
                      expectation of receiving more money in the future.”
                      The goal of investing is to put your money to work in one or more types of investment vehicles in
                      the hopes of growing your money over time..&nbsp;</p>
                    <br>
                    <div class="d-flex justify-content-center border p-2 ">
                      <div class="d-flex flex-column align-items-center mx-5"><span
                          class="font-weight-bold percentage text-danger">50K +</span><span>Users have saved there
                          tax</span></div>
                      <div class="d-flex flex-column align-items-center mx-5"><span
                          class="font-weight-bold percentage text-success">3K +</span><span>Google reviews</span></div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Testimonials  -->
<section class="fdb-block py-5"
  style="background-image: url(https://i.ibb.co/BntcbcC/magicpattern-blob-1662066689803.png); background-size: 60%;">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h1> Testimonials</h1>

      </div>
    </div>

    <div class="row mt-5 align-items-center justify-content-center">
      <div class="col-md-8 col-lg-4">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="https://faces-img.xcdn.link/image-lorem-face-2151.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Schneider</strong><br>
                <em>Tax-Expert</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                " I've been a customer for 3 years and I highly recommend Walletbooster There is a full service tax and
                wealth management team that make them an incredible value."
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="https://faces-img.xcdn.link/image-lorem-face-1052.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Lindiwe</strong><br>
                <em>Finance Expert</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                " Tax Solutions has great people, knowledgeable hard working and caring. I have my tax problems solved
                and now I without any kind of worries, All thanks to Walletbooster. "
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="https://faces-img.xcdn.link/image-lorem-face-3180.jpg">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Charles</strong><br>
                <em>Finance Manager at Abc.com</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                " I appreciate all your hard work in resolving my tax dilemma. By helping others – the work that you do
                is truly noble and very much useful for the one's who are very much in need of."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Contact Us -->
<section class="fdb-block py-0">
  <div class="container">
    <div class="row py-5">
      <div class="col py-5">
        <div class="fdb-box fdb-touch">
          <div class="row text-center justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
              <h1>Contact Us</h1>
              <p class="lead">wanted to know more? Feel free to contact us by filling this form</p>
            </div>
          </div>

          <div class="row justify-content-center pt-4">
            <div class="col-12 col-md-8">
              <form action="https://formspree.io/f/mbjbdrdr" method="POST">
                <div class="row">
                  <div class="col-12 col-md">
                    <input type="text" name="Name" class="form-control" placeholder="Name">
                  </div>
                  <div class="col-12 col-md mt-4 mt-md-0">
                    <input type="text" name="_replyto" name="Email" class="form-control" placeholder="Email">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col text-center">
                    <button type="submit" class="btn btn-primary" value="Send">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Chat Button -->
<div class="wb-chat" style="position: fixed; right: 40px; bottom: 40px;">

  <a href="/chatservice">
    <img src="https://i.ibb.co/ZN38QVV/chat-img.png" alt="" height="75">
    <h5 style="text-align: center;">Chat Now</h5>
  </a>


</div>