.con{
    height: 500px;
    width: 100%;
    background-color: #1E90FF;
}
.text{
    text-align: center;
    padding-top: 10px;
}
.card{
    
    background-color: white;
    height: 200px;
    padding: 20x;
    text-align: center;
    margin: 10px;
    width: 85%;
    margin-left: 29px;
}
.card:hover{
    
    background-color: white;
    height: 200px;
    padding: 20x;
    text-align: center;
    margin: 10px;
    transform: scale(1.05);
}
h2{
    color: black;
}



