<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./recommendation.component.css">
</head>

<body>
    <div id="div1">
        <h1 id="h11">Tax Savings Plans</h1>
    </div>

    <div id="div2"></div>
    <div id="div3">
        <p>{{json.Advice1}}</p>
        <p>{{json.Advice2}}</p>
        <p>{{json.Advice3}}</p>
        <p>{{json.Advice4}}</p>
        <p>{{json.Advic5}}</p>
        <p>{{json.Advice6}}</p>
        <p>{{json.Advice7}}</p>

    </div>
    <div>

    </div>

</body>

</html>