<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./recommendation.component.css">
</head>

<body>
    <div id="div1">
        <h1 id="h11">Tax Savings Plans</h1>
    </div>


    <div id="div2"></div>
    <div id="div3">
        <p>{{json.advice1}}</p>
        <p>{{json.advice2}}</p>
        <p>{{json.advice3}}</p>
        <p>{{json.advice4}}</p>
        <p>{{json.advice5}}</p>
        <p>{{json.advicr6}}</p>
        <p>{{json.advice7}}</p>

    </div>
    <div>
        <button id="button1" ondblclick="getAllAlbums()">GET ADVICE</button>
    </div>

</body>

</html>