
<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-2"></div>
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                      <div class="article-img">
                        <img src="../../assets/img/183446d1-52db-46cf-9285-3e901adffa34.jpg" title="" alt="">
                    </div>
                    <div class="article-title">
                        <h6><a href="#">Lifestyle</a></h6>
                        <h2>{{blog.title}}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"  title="" alt="">
                            </div>
                            <div class="media-body">
                                <label></label>
                                <b>{{blog.name}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                       
                       <p>{{blog.content}}</p>
                    </div>
                    <div class="nav tag-cloud">
                        <a href="#">Investment</a>
                        <a href="#">Tax</a>
                        <a href="#">Vision</a>
                        <a href="#">Work with us</a>
                        <a href="#">Opportunites</a>
                        <a href="#">Recommendation</a>
                        <a href="#">Managment</a>
                    </div>
                </article>
               
            