.container{ 
    overflow: hidden;
    width: auto;
    background-color: rgb(239, 241, 247);
    margin-top: 10%;
    height: 500px;
}
.col-3{
   background-color:#397ef6; 
   height: 500px;
}
.we{
   margin-top: 100px; 
   margin-left: 50px;
}
.message{
    color: white;
}
input.ng-invalid{
    border-left: 5px solid red
    
}
input.ng-valid{
    border-left: 5px solid green;
}
